<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/eagle-logo.png')}}" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Krisis Moneter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='web/assets/mobirise-icons2/mobirise2.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-grid.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-reboot.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dropdown/css/style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='socicon/css/styles.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='theme/css/style.css')}}">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap"></noscript>
  <link rel="preload" as="style" href="{{ url_for('static', filename='mobirise/css/mbr-additional.css')}}"><link rel="stylesheet" href="{{ url_for('static', filename='mobirise/css/mbr-additional.css')}}" type="text/css">
  
  
  
</head>
<body>
  
    <section data-bs-version="5.1" class="menu menu1 cid-sFGMsvHDIa" once="menu" id="menu1-1">
    

        <nav class="navbar navbar-dropdown navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="/">Indonesian Journey</a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white text-primary display-7" href="/">Home</a></li><li class="nav-item"><a class="nav-link link text-white text-primary display-7" href="/#features3-4">Menu</a></li><li class="nav-item"><a class="nav-link link text-white text-primary display-7" href="/#features12-6">About</a></li></ul>
                    
                    
                </div>
            </div>
        </nav>
    </section>

<section data-bs-version="5.1" class="video4 cid-tT3lHNxMzL" id="video4-6">
    
    
    
    <div class="container">
        <div class="title-wrapper mb-5">
            <h4 class="mbr-section-title mbr-fonts-style mb-0 display-2">
                <strong>Sejarah Krisis Moneter</strong></h4>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/lJRtgnsTPFw?rel=0&amp;amp;&amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                <p class="mbr-description pt-2 mbr-fonts-style display-4">
                    Krisis Moneter 1998 (Sumber : tanyakonsultan)</p>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">
                        <strong>Awal Mula Kejadian</strong></h5>
                    <p class="mbr-text mbr-fonts-style display-7">Krisis moneter 1998 di Indonesia merupakan peristiwa kompleks dengan berbagai faktor kontribusi. Berikut adalah gambaran singkatnya:
                        <br><br>1. Devaluasi Mata Uang:Krisis dimulai dengan devaluasi tajam rupiah Indonesia. Devaluasi ini dipicu oleh kombinasi faktor, termasuk defisit transaksi berjalan yang besar, tingginya utang luar negeri, dan serangan spekulatif terhadap mata uang.
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="content5 cid-tT3sXhwMyq" id="content5-k">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <p class="mbr-text mbr-fonts-style display-7"><br>2. Runtuhnya Sektor Perbankan: Bank-bank Indonesia sangat terpapar risiko nilai tukar dan telah meminjam dengan jumlah besar dalam mata uang asing. Ketika rupiah merosot dengan cepat, hal ini menyebabkan lonjakan biaya pelayanan utang luar negeri bagi bank-bank ini. Banyak bank menghadapi kebangkrutan, dan pemerintah tidak memiliki sumber daya untuk menyelamatkannya.
                    <br><br>3. Utang Korporasi: Perusahaan-perusahaan Indonesia juga telah meminjam dengan jumlah besar dalam mata uang asing. Saat rupiah melemah, biaya pelayanan utang ini melonjak, menyebabkan kesulitan keuangan bagi banyak bisnis. Hal ini, pada gilirannya, berkontribusi pada peningkatan pinjaman bermasalah di sektor perbankan.
                    <br><br>4. Ketidakstabilan Politik: Faktor politik, termasuk protes massal dan ketidakstabilan sosial, menambah krisis. Pengunduran diri Presiden Suharto pada Mei 1998 setelah lebih dari tiga dekade berkuasa menciptakan kekosongan kekuasaan dan meningkatkan ketidakpastian.
                    <br><br>5. Krisis Keuangan Asia: Absorpsi krisis ekonomi regional, yang dikenal sebagai Krisis Keuangan Asia, berperan dalam memperparah masalah Indonesia. Krisis ini memengaruhi beberapa negara Asia, menyebabkan efek penularan di mana masalah ekonomi di satu negara mencemari negara lain.
                    <br><br>Untuk mengatasi krisis, Indonesia mencari bantuan dari Dana Moneter Internasional (IMF). Sebagai imbalan untuk dukungan keuangan, negara tersebut harus melaksanakan serangkaian reformasi ekonomi, termasuk langkah-langkah konservatif fiskal, restrukturisasi sektor perbankan, dan peningkatan transparansi. Krisis moneter 1998 memiliki dampak mendalam dan berkelanjutan pada ekonomi dan lanskap politik Indonesia, membentuk arah negara tersebut selama bertahun-tahun.</p>
             </div>
        </div>
    </div>
</section><script src="{{ url_for('static', filename='bootstrap/js/bootstrap,bundle.min.js')}}"></script>  <script src="{{ url_for('static', filename='smoothscroll/smoothscroll.js')}}"></script>  <script src="{{ url_for('static', filename='ytplayer/index.js')}}"></script>  <script src="{{ url_for('static', filename='dropdown/js/navbar-dropdown.js')}}"></script>  <script src="{{ url_for('static', filename='theme/js/script.js')}}"></script>  
  
<section data-bs-version="5.1" class="footer7 cid-tT3lHN8qo5" once="footers" id="footer7-5" position=fixed>

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Indonesian Journey - Kelompok 5</p>
            </div>
        </div>
    </div>
</section>
  
</body>
</html>