<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/eagle-logo.png')}}" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Kemerdekaan Indonesia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='web/assets/mobirise-icons2/mobirise2.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-grid.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-reboot.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dropdown/css/style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='socicon/css/styles.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='theme/css/style.css')}}">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap"></noscript>
  <link rel="preload" as="style" href="{{ url_for('static', filename='mobirise/css/mbr-additional.css')}}"><link rel="stylesheet" href="{{ url_for('static', filename='mobirise/css/mbr-additional.css')}}" type="text/css">
  
  
  
</head>
<body>
  
    <section data-bs-version="5.1" class="menu menu1 cid-sFGMsvHDIa" once="menu" id="menu1-1">
    

        <nav class="navbar navbar-dropdown navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="/">Indonesian Journey</a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white text-primary display-7" href="/">Home</a></li><li class="nav-item"><a class="nav-link link text-white text-primary display-7" href="/#features3-4">Menu</a></li><li class="nav-item"><a class="nav-link link text-white text-primary display-7" href="/#features12-6">About</a></li></ul>
                    
                    
                </div>
            </div>
        </nav>
    </section>

<section data-bs-version="5.1" class="video4 cid-tT3lHNxMzL" id="video4-6">
    
    
    
    <div class="container">
        <div class="title-wrapper mb-5">
            <h4 class="mbr-section-title mbr-fonts-style mb-0 display-2">
                <strong>Sejarah Kemerdekaan Indoensia</strong></h4>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/DDt2OW-1ATM?rel=0&amp;amp;&amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                <p class="mbr-description pt-2 mbr-fonts-style display-4">
                    Terbentuknya BPUPKI (Sumber : Nurin Amalina)</p>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">
                        <strong>Pembentukan BPUPKI</strong></h5>
                    <p class="mbr-text mbr-fonts-style display-7">BPUPKI terbentuk pada April 1945 di bawah pemerintahan Jepang selama Perang Dunia II dan memiliki tugas utama dalam mempersiapkan dasar-dasar kemerdekaan Indonesia. Hasil kerja BPUPKI, seperti Pancasila, berkontribusi pada proklamasi kemerdekaan Indonesia pada Agustus 1945. Setelah itu, BPUPKI berperan dalam pembentukan konstitusi dan pemerintahan baru.<br><br></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="video5 cid-tT3lIIDfg6" id="video5-b">
    

    
    
    <div class="container">
        <div class="title-wrapper mb-5">
            
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/07z_o87Xxx4" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                <p class="mbr-description pt-2 mbr-fonts-style display-4">
                    Pembacaan Teks Proklamasi (Sumber : MrGama3ana)</p>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5"><strong>Proklamasi</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">Proklamasi Kemerdekaan Indonesia terjadi pada tanggal 17 Agustus 1945. Pada saat itu, dunia masih dalam suasana pasca-Perang Dunia II, dan Jepang telah menyerah kepada Sekutu. Di tengah kondisi politik yang berubah ini, Sukarno dan Mohammad Hatta, dua tokoh nasionalis Indonesia yang ditahan oleh pihak Jepang, melihat peluang untuk menyatakan kemerdekaan Indonesia.
<br>
<br>Pada pukul 10 pagi tanggal 17 Agustus 1945, Sukarno dan Hatta menyampaikan teks proklamasi kemerdekaan di rumah Sukarno di Jalan Pegangsaan Timur 56, Jakarta.</p>
                </div>
            </div>
        </div>
    </div>
</section><script src="{{ url_for('static', filename='bootstrap/js/bootstrap,bundle.min.js')}}"></script>  <script src="{{ url_for('static', filename='smoothscroll/smoothscroll.js')}}"></script>  <script src="{{ url_for('static', filename='ytplayer/index.js')}}"></script>  <script src="{{ url_for('static', filename='dropdown/js/navbar-dropdown.js')}}"></script>  <script src="{{ url_for('static', filename='theme/js/script.js')}}"></script>  
  
<section data-bs-version="5.1" class="footer7 cid-tT3lHN8qo5" once="footers" id="footer7-5">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Indonesian Journey - Kelompok 5</p>
            </div>
        </div>
    </div>
</section>
  
</body>
</html>